.section{
  display: flex;
  padding: 20px 10px
}
.content{
  line-height: 1.5
}
.image-container{
  margin-right: 20px;
}

.section h1{
  width: 100%;
  margin: 0;
}

.section h3{
  margin-top: 10px;
}

.content-sction{
  padding: 0 20px;
}

@media only screen and (max-width: 600px) {
  .section{
    flex-direction: column;
  }

  .image-container img{
    width: 100%
  }

  .content-sction {
    padding: 10px 0;
}

.image-container{
  margin: 0;
}
}